@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

body
{
    margin: 0px;
}

.directory {
    
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Nunito Sans', sans-serif;
}

.directory a {
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    float:left;
    color: black;
    text-transform: uppercase;
}

.directory a:hover {
    color: rgb(110, 110, 110);
 }

.directory .block-container
{
    height: 50px;
}

.showlines
{
    border-style: solid;
    border-color: #afafaf;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 1px;
}

.header-right {
    float: right;
}

.header-right a {
    padding-left: 2em;
}

.block-container {
   margin: auto;
   padding: 0em 1em;
}

.nopadding {
   padding: 0;
}

.container-lines {
    position: fixed;
    height: 100%;
    border-style: solid;
    border-color: #afafaf;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 1px;
    left: 50%;
    transform: translateX(-50%);
    

}


h1 {
    font-family: 'Abhaya Libre', sans-serif;
}

h2,h3 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 300;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Nunito Sans', sans-serif;
    
}

footer {
    margin-top: 80px;
}

 @media only screen and (max-width: 600px) {
    .header-right {
        display: none;
    }


    p {
        font-size: 1em;
        line-height: 1em;
    }
 }

 @media only screen and (min-width: 1200px) {
    .header-right {
        display: block;
    }

    .block-container {
        width: 1000px;

    }
        

 }
