@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

body
{
    margin: 0px;
    background-color: #fcfbfb;
    font-family: 'Nunito Sans', sans-serif;

}

.directory {
    
    background-color: #fcfbfb;
    position: fixed;
    width: 100%;
    /* z-index: 100; */
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 2px #ececec solid;
}

.directory a {
    text-align: center;
    padding: 14px;
    text-decoration: none;
    float:left;
    color: black;
    text-transform: uppercase;
}

.directory a:hover {
    color: rgb(110, 110, 110);
 }

.showlines
{
    border-style: solid;
    border-color: #ececec;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 2px;
}

.header-right {
    float: right;
}

.header-mobile {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.block-container {
   margin: auto;
   padding: 0em 1em;
}

.nopadding {
   padding: 0;
}

.container-lines {
    position: fixed;
    height: 100%;
    border-style: solid;
    border-color: #ececec;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000;
    display: none;

}

.page-link {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    border: 2px #ececec solid;
    padding: .5em 1em;
}

.page-link:hover {
    border-color: #0185FF;
}

.external-link {
    font-size: 1.1em;
    color: black;
    text-decoration: underline;
    text-decoration-color: #ececec;
    text-decoration-thickness: 5px;
    margin-bottom: 1em;

}


h1 {
    font-family: 'Abhaya Libre', sans-serif;
    text-transform: uppercase;
    font-size: 5em;
    margin: 1em 0 0.5em 0;
}

h2 {
    font-weight: 600;
}

h3 {
    margin: 1.4em 0 1.6em 0;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
}


p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    
}

footer {
    margin-top: 80px;
}

 @media only screen and (max-width: 600px) {
    .directory a {
        float: none;
        display: block;
        text-align: left;
    }
      
      .header-right {
        float: none;
        display: none;
      }


    p {
        font-size: 1em;
        line-height: 1em;
    }

    .container-lines {
        display: none;
    
    }

    .header-mobile {
        display: block;
    }
 }

 @media only screen and (min-width: 600px) {
    .header-right {
        display: block;
    }

    .header-mobile {
        display: none;
    }


}


 @media only screen and (min-width: 1200px) {

    .block-container {
        width: 900px;

    }
        
    .container-lines {
        display: block;
    
    }

    .showlines
    {
        height: 50px;
    }
 }
