.header {
    border-style: solid;
    border-color: #afafaf;
    border-width: 1px;
    height: 3em;
    background-color: transparent;
    border-top-style: none;
}

.dir {

    border-style: solid;
    border-color: #afafaf;
    background-color: transparent;
    border-top-style: none;
    border-width: 1px;
}

.container-lines {
    position: fixed;
    height: 100%;
    border-style: solid;
    border-color: #afafaf;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000;

}

.name {
    font-size: 6em;
    width: 5em;
    margin: 0;
    margin-bottom: .5em;
}

.links {
    display: flex;
    padding-bottom: 1em;
}

.links a {
    color: inherit;
}

.links--dir h3 {
    margin: 0;
}

.links--dir a {
    margin-left: 2em;
}

.links--dir {
    font-size: 1.5em;
}


.about {
    display: flex;
}

.about--name {
    height: 35%;
    background-color: #F4F4F4;
    position: relative;
}

.about--name--text 
{
    position: absolute;
    bottom: 0;
    font-size: 3.5em;
    margin: 0 0 10px 0;
}

.image-container 
{
    width: 30%;
}

.image-container div {
    background-color: rgb(36, 36, 36);
    width: 100%;
    padding-top: 140%;
    background-size: cover;
    background-position: center;
}

.text
{
    width: 70%;
    padding-left: 20px;
}

.text p {
    margin: 0;
    font-size: 1.2em;
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .dir-center {
        margin-top: 80px;
        display: block;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }
    .dir-list {
        font-size: 1em;
        
    }

    .name {
        font-size: 4em;
    }

    .links--dir
    {
        flex-direction: column;
        
    }

    .links--dir a {
        margin: 0;
    }

    .about {
        flex-direction: column;
    }

    .image-container 
    {
        display: none;
    }

    .text
    {
        width: 100%;
        padding-left: 0px;
    }

    .container-lines {
        display: none;
    }
 }

 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 800px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 1200px) {
    .container-lines {
        display: none;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 