.space {
    padding-top: 100px;
}


.file-dir {
    border: 1px #2A2C29 solid;
}

.file-header {
    display: flex;
    border-bottom: 1px #2A2C29 solid;
}

.file-header h2 {
    font-family: 'Abhaya Libre', sans-serif;
    
    font-size: 2em;
    border-right: 1px #2A2C29 solid;
    margin: 0;
    padding: 40px 10px 10px 10px;
}

.file-list {
    
    min-height: 400px;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    box-sizing:border-box;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.list-item:hover
{
    background-color: #2A2C29;
    color: #fcfbfb;
}

.file-footer {
    background-color: #2A2C29;
    color: #fcfbfb;
}

.file-footer p {
    margin: 0;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}




   /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 800px) {
       

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 